<div class="row">
  <div class="col-xs-12">
    <h1>Page number 1</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12">
        <h3>List of Items</h3>
      </div>

      <!-- Search box -->
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" id="search-box" ng-model="searchBox" class="form-control" placeholder="Filter the list by ...">
        </div>
      </div>

      <!-- Add button -->
      <div class="col-md-4 text-right">
        <!--<button type="button" class="btn btn-default btn-lg">-->
          <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
          <!--<span>Add Item</span>-->
        <!--</button>-->

        <button class="btn btn-icon" ng-click="openAddModal()">
          <span class="btn-text-section">Add Item</span>
          <span class="btn-icon-section">
            <span class="glyphicon glyphicon-plus"></span>
          </span>
        </button>
      </div>


    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled table-list">

          <li class="darkBg">
            <div class="row">
              <!--ID-->   <div class="col-xs-2"> <span>ID</span> </div>
              <!--Name--> <div class="col-xs-3"> <span>Name</span> </div>
              <!--Desc--> <div class="col-xs-4"> <span>Description</span> </div>
            </div>
          </li>


          <li class="btn-row" dir-paginate="item in itemList | filter: searchBox | itemsPerPage: 8" pagination-id="cust">
            <div class="row">
              <div class="col-xs-2 row-text"><span>{{item.id}}</span></div>
              <div class="col-xs-3 row-text"><span>{{item.name}}</span></div>
              <div class="col-xs-4 row-text"><span>{{item.desc}}</span></div>

              <div class="col-xs-3 text-right">
                <button class="btn btn-icon" ng-click="openEditModal(item)">
                  <span class="btn-text-section">Edit</span>
                  <span class="btn-icon-section">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </span>
                </button>
              </div>

            </div>
          </li>

        </ul>
      </div>

      <div class="col-xs-12">
        <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
      </div>

    </div>

  </div>
</div>
