$primary_color        : #337ab7;
$primary_color_invert : #FFFFFF;

$secondary_color  : #046F5A;
$tertiary_color   : #BC451A;
$quaternary_color : #2E4856;
$warning_color    : red;

$background_color: #f5f5f5;