$primary_color        : #337ab7;
$primary_color_invert : #FFFFFF;


$secondary_color  : #f0ad4e;
$tertiary_color   : #5cb85c;
$quaternary_color : #5bc0de;
$warning_color    : #d9534f;

$background_color: #f5f5f5;