ul.table-list {
  width:100%;
  height:auto;
  float: left;
  list-style: none;

  > li {
    width:100%;
    height:auto;
    float: left;
    padding: 8px 20px;

    // Header of the list
    &.darkBg {
      padding:8px 20px;
      background: $primary_color;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      h4, h5, span {
        color: $primary_color_invert;
      }
    }

    h4, h5, span {
      font-size: 15px;
      letter-spacing: 1px;
    }

    &:nth-child(even):not(.darkBg){
      background:rgba($primary_color, 0.08);
    }
    &:nth-child(odd):not(.darkBg){
      background:$primary_color_invert;
    }
    &.selected-row {
      background-color: lighten($primary_color, 50%);
    }

    // Special padding for rows with button inside
    &.btn-row {
      padding: 4px 20px 4px;

      .row-text {
        padding-top: 2px;
      }

      // Button inside a row of the table
      .btn-icon {
        .btn-text-section {
          font-size:12px;
          padding: 4px 12px 4px 14px;
        }

        .btn-icon-section {
          height: 24px;
          padding: 4px 8px 3px 10px;
          font-size: 10px;
        }
      }
    }



  }
}